.todo-list h2 {
    text-transform: uppercase;
}

.task {
    background-color: rgb(23, 32, 42);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}

.check {
    color: rgba(48, 194, 165, 1);
    font-size: 25px;
    margin-left: 15px;
}

.remove {
    margin-right: 20px;
    margin-top: 11px;
}

.remove a {
    color: red;
    text-decoration: none;
}

.todo-list h2, .todo-list text {
    color: white;
}

.activate-popup {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.activate-popup button {
    background: rgb(48,194,165);
    background: linear-gradient(90deg, rgba(48, 194, 165, 1) 0%, rgba(108, 162, 222, 1) 50%, rgba(48, 194, 165, 1) 100%);
    border: none;
    border-radius: 20px;
    font-size: 25px;
    height: 40px;
    width: 40px;
}

.activate-popup button:active,
.modal-content button:active {
    opacity: 0.5;
}

/* Modal START */

/* The Modal (background) */
.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4); 
    display: none; 
    height: 100%; 
    left: 0;
    overflow: auto; 
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1; 
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    border-radius: 30px;
    margin: 15% auto; 
    padding: 20px; 
}

/* The Close Button */
.close {
    color: rgb(170, 170, 170);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.modal-content form input {
    border: 2px solid rgba(48, 194, 165, 1);
    border-radius: 10px;
    width: 95%;
}

.modal-content button {
    background: rgb(48,194,165);
    background: linear-gradient(90deg, rgba(48, 194, 165, 1) 0%, rgba(108, 162, 222, 1) 50%, rgba(48, 194, 165, 1) 100%);
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 2vh;
    padding: 10px;
    width: 40%;
} 

/* Modal END */

/* desktop only */
@media screen and (min-width: 981px) {
   .homepage {
        margin-left: 20%;
        margin-top: 8vh;
        min-height: 75vh;
        width: 60%;
    }

    .task {
        margin-left: 2%;
        margin-top: 2vh;
        width: 96%;
    }

    .remove {
        font-size: 20px;
    }

    .modal-content {
        width: 40%;
    }
    
}

/* mobile only */
@media screen and (max-width: 980px) {
    .homepage {
        margin-left: 5%;
        margin-top: 2vh;
        width: 90%;
    }

    .todo-list h2 {
        text-align: center;
    }

    .task {
        margin-left: 7%;
        margin-top: 3vh;
        width: 86%;
    }

    .remove {
        font-size: 18px;
    }

    .modal-content {
        width: 80%;
    }
    
}